* {
  @import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@500&display=swap'

}


h2 {
  background-image: url("https://maddyrose777.github.io/gra-321/img/oneway.jpg");
  background-size: cover;
  height:700px;
  margin: 0 auto;
  width:50%;
  

}

h1 {
  color: #fff;
  font-size:52px;
  position:relative;
  text-align:center;

}

.padding-hover:hover {
  background-color: Olive;
  color:OldLace;
  text-decoration:underline;
}
